<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
    <h1>{{title}}</h1>
    <p>You hit this project the first time {{first_hit}}</p>
    <p>This IsoDate is stored in redis as "rust-web-starter:first-hit" key. TTL is -1</p>
</body>
</html>
